
* {
    margin:0;
    padding:0;
    color: black;
}

body {
    background-color:#eef0f1;
}

p {font-size: 10px;} 
h2 {font-size: 40px;
    line-height: 44px;}
h3 {font-size: 10px;} 

@media only screen and (min-width: 0px) {
    .section-uno{
        width: auto;
        height: auto;
        padding: 0;
        .container {
            display: flex;
            width: 100%;
                .column-uno {
                    display: none;
                    width: calc((100%/12)*2);

                }
                .column-dos {
                    display: block;
                    width: auto;
                    height: auto;
                }

                .column-tres {
                    display: none;
                    width: calc((100%/12)*3);

                }
        }
    }
}


@media only screen and (min-width: 700px) { 
    .section-uno {
        padding: 0 100px;

        .container {
  
                .column-uno, .column-tres {
                    display: block;
                }
                .column-dos {
                    width: calc((100%/12)*7);


                }

        }
    }
}